# Python-related
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
*/.venv/
.env/

# IDE-specific files
.vscode/
*/idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Environment variables !!!!!!!
.env

#database
*.db
*.sqlite3

# custom
*/docs/
*.txt
*.png
*.ico
*.webmanifest

#code combiner
code_combiner.py
*code_combiner*.py
*/output_code_combiner*/

*/sample_input_data/*


tests/
temp/
